cmd/gowsdl/kuaidi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gpsso.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://gpsso.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;欢迎访问：&lt;a href='http://www.gpsso.com'&gt;www.gpsso.com&lt;/a&gt;，谢谢您的支持！&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gpsso.com/">
      <s:element name="KuaidiQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Compay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KuaidiQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KuaidiQueryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApiSoapHeader" type="tns:ApiSoapHeader" />
      <s:complexType name="ApiSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="APICode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KuaidiQuerySoapIn">
    <wsdl:part name="parameters" element="tns:KuaidiQuery" />
  </wsdl:message>
  <wsdl:message name="KuaidiQuerySoapOut">
    <wsdl:part name="parameters" element="tns:KuaidiQueryResponse" />
  </wsdl:message>
  <wsdl:message name="KuaidiQueryApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:message name="KuaidiQueryHttpGetIn">
    <wsdl:part name="Compay" type="s:string" />
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KuaidiQueryHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="KuaidiQueryHttpPostIn">
    <wsdl:part name="Compay" type="s:string" />
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KuaidiQueryHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="KuaidiSoap">
    <wsdl:operation name="KuaidiQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">快递查询，支持申通,中通,圆通,顺丰,EMS,韵达,天天,汇通,宅急送,德邦等</wsdl:documentation>
      <wsdl:input message="tns:KuaidiQuerySoapIn" />
      <wsdl:output message="tns:KuaidiQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="KuaidiHttpGet">
    <wsdl:operation name="KuaidiQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">快递查询，支持申通,中通,圆通,顺丰,EMS,韵达,天天,汇通,宅急送,德邦等</wsdl:documentation>
      <wsdl:input message="tns:KuaidiQueryHttpGetIn" />
      <wsdl:output message="tns:KuaidiQueryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="KuaidiHttpPost">
    <wsdl:operation name="KuaidiQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">快递查询，支持申通,中通,圆通,顺丰,EMS,韵达,天天,汇通,宅急送,德邦等</wsdl:documentation>
      <wsdl:input message="tns:KuaidiQueryHttpPostIn" />
      <wsdl:output message="tns:KuaidiQueryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KuaidiSoap" type="tns:KuaidiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KuaidiQuery">
      <soap:operation soapAction="http://gpsso.com/KuaidiQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:KuaidiQueryApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KuaidiSoap12" type="tns:KuaidiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KuaidiQuery">
      <soap12:operation soapAction="http://gpsso.com/KuaidiQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:KuaidiQueryApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KuaidiHttpGet" type="tns:KuaidiHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="KuaidiQuery">
      <http:operation location="/KuaidiQuery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KuaidiHttpPost" type="tns:KuaidiHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="KuaidiQuery">
      <http:operation location="/KuaidiQuery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kuaidi">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;欢迎访问：&lt;a href='http://www.gpsso.com'&gt;www.gpsso.com&lt;/a&gt;，谢谢您的支持！&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="KuaidiSoap" binding="tns:KuaidiSoap">
      <soap:address location="http://www.gpsso.com/webservice/kuaidi/kuaidi.asmx" />
    </wsdl:port>
    <wsdl:port name="KuaidiSoap12" binding="tns:KuaidiSoap12">
      <soap12:address location="http://www.gpsso.com/webservice/kuaidi/kuaidi.asmx" />
    </wsdl:port>
    <wsdl:port name="KuaidiHttpGet" binding="tns:KuaidiHttpGet">
      <http:address location="http://www.gpsso.com/webservice/kuaidi/kuaidi.asmx" />
    </wsdl:port>
    <wsdl:port name="KuaidiHttpPost" binding="tns:KuaidiHttpPost">
      <http:address location="http://www.gpsso.com/webservice/kuaidi/kuaidi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>